/* ALGEMEEN */
:root {
    --dark-blue-color: #193174;
    --darker-blue-color: #142657;
    --gold-color: #EBB73F;
    --mint-color: #E4F5F2;
    --light-gray-color: #dfdfdf;
    --dark-gray-color: #adadad;
}